[MESSAGES CONTROL]
disable=too-few-public-methods,
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring

[DESIGN]
max-attributes=10
max-locals=20

[SIMILARITIES]
ignore-imports=yes
